---
http_interactions:
- request:
    method: get
    uri: http://codepen.io/api/oembed?url=http://codepen.io/mudrenok/pen/aBWbgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://codepen.io/api/oembed?url=http%3A%2F%2Fcodepen.io%2Fmudrenok%2Fpen%2FaBWbgM
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://codepen.io/api/oembed?url=http%3A%2F%2Fcodepen.io%2Fmudrenok%2Fpen%2FaBWbgM">redirected</a>.</body></html>
  recorded_at: Wed, 30 Nov 2016 18:30:20 GMT
- request:
    method: get
    uri: https://codepen.io/api/oembed?url=http://codepen.io/mudrenok/pen/aBWbgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Env:
      - production
      Etag:
      - W/"39e8969196050aca8faf902ad99242c0"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": true,
          "type": "rich",
          "version": "1.0",
          "provider_name": "CodePen",
          "provider_url": "http://codepen.io",
          "title": "wave (CSS animation)",
          "author_name": "Anton Mudrenok",
          "author_url": "http://codepen.io/mudrenok/",
          "height": "300",
          "width": "800",
          "thumbnail_width": "384",
          "thumbnail_height": "225",
          "thumbnail_url": "https://s3-us-west-2.amazonaws.com/i.cdpn.io/276691.aBWbgM.small.b7bca5b8-7072-4f4f-9fd5-8025ba2aac4d.png",
          "html": "<iframe id=\"cp_embed_aBWbgM\" src=\"https://codepen.io/mudrenok/embed/preview/aBWbgM?height=300&amp;amp;slug-hash=aBWbgM&amp;amp;default-tabs=css,result&amp;amp;host=http%3A%2F%2Fcodepen.io&amp;amp;embed-version=2\" title=\"wave (CSS animation)\" scrolling=\"no\" frameborder=\"0\" height=\"300\" allowtransparency=\"true\" class=\"cp_embed_iframe\" style=\"width: 100%; overflow: hidden;\"></iframe>"
        }
  recorded_at: Wed, 30 Nov 2016 18:30:21 GMT
recorded_with: VCR 3.0.3
