---
http_interactions:
- request:
    method: get
    uri: https://vimeo.com/api/oembed.json?url=https://vimeo.com/169850570
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 29 Nov 2016 18:35:11 GMT
      Etag:
      - '"032d3638e8065391dbeecd94b9d454fc2abe4e43"'
      Fastly-Debug-Digest:
      - b61202204075cbfb9ec3193d7cb2928489acc3c3b79a7519c1f8b4e17aeb630f
    body:
      encoding: ASCII-8BIT
      string: '{"type":"video","version":"1.0","provider_name":"Vimeo","provider_url":"https:\/\/vimeo.com\/","title":"Making
        Weather","author_name":"Richard Clarkson","author_url":"https:\/\/vimeo.com\/richardclarkson","is_plus":"0","html":"<iframe
        src=\"https:\/\/player.vimeo.com\/video\/169850570\" width=\"640\" height=\"360\"
        frameborder=\"0\" title=\"Making Weather\" webkitallowfullscreen mozallowfullscreen
        allowfullscreen><\/iframe>","width":640,"height":360,"duration":78,"description":"Levitating
        Cloud Project with Crealev and Richard Clarkson Studio\n\nMusic: Say you love
        me by Jessie Ware \nhttps:\/\/itunes.apple.com\/us\/album\/say-you-love-me\/id909537169?i=909537180","thumbnail_url":"https:\/\/i.vimeocdn.com\/video\/574702569_640.jpg","thumbnail_width":640,"thumbnail_height":360,"thumbnail_url_with_play_button":"https:\/\/i.vimeocdn.com\/filter\/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F574702569_640.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png","upload_date":"2016-06-08
        09:04:09","video_id":169850570,"uri":"\/videos\/169850570"}'
  recorded_at: Tue, 29 Nov 2016 18:50:22 GMT
recorded_with: VCR 3.0.3
