---
http_interactions:
- request:
    method: get
    uri: https://publish.twitter.com/oembed?omit_script=true&url=https://twitter.com/fahrenhei7lt/status/788802438467837952
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 12 Jan 2017 15:50:58 GMT
      X-Connection-Hash:
      - a987ce8c69834e13a843d60371e22671
      X-Response-Time:
      - '110'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/fahrenhei7lt\/status\/788802438467837952","author_name":"Ivan
        Kuznetsov","author_url":"https:\/\/twitter.com\/fahrenhei7lt","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003E3 of 5 stars
        to Thinner by Richard Bachman \u003Ca href=\"https:\/\/t.co\/xX0praABZ1\"\u003Ehttps:\/\/t.co\/xX0praABZ1\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Ivan Kuznetsov (@fahrenhei7lt) \u003Ca href=\"https:\/\/twitter.com\/fahrenhei7lt\/status\/788802438467837952\"\u003EOctober
        19, 2016\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550,"height":null,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","version":"1.0"}'
  recorded_at: Thu, 12 Jan 2017 15:50:58 GMT
recorded_with: VCR 3.0.3
