---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=mezO-nr7Ah4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"author_url":"https:\/\/www.youtube.com\/user\/ArtSorax","provider_name":"YouTube","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/mezO-nr7Ah4\/hqdefault.jpg","height":270,"title":"Sorax
        \u043e \u043f\u043e\u0442\u0435\u043d\u0446\u0438\u0430\u043b\u0435 [Q\u0026A
        04] (\u041f\u043e\u0434\u043a\u0430\u0441\u0442 31.10.16)","type":"video","version":"1.0","author_name":"Sorax","html":"\u003ciframe
        width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/mezO-nr7Ah4?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e","thumbnail_width":480,"provider_url":"https:\/\/www.youtube.com\/","thumbnail_height":360,"width":480}'
  recorded_at: Thu, 12 Jan 2017 15:50:55 GMT
recorded_with: VCR 3.0.3
