---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=mezO-nr7Ah4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Sorax \u043e \u043f\u043e\u0442\u0435\u043d\u0446\u0438\u0430\u043b\u0435
        [Q\u0026A 04] (\u041f\u043e\u0434\u043a\u0430\u0441\u0442 31.10.16)","height":270,"width":480,"html":"\u003ciframe
        width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/mezO-nr7Ah4?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e","thumbnail_height":360,"thumbnail_width":480,"version":"1.0","provider_name":"YouTube","author_url":"https:\/\/www.youtube.com\/user\/ArtSorax","type":"video","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/mezO-nr7Ah4\/hqdefault.jpg","author_name":"Sorax","provider_url":"https:\/\/www.youtube.com\/"}'
  recorded_at: Tue, 29 Nov 2016 18:50:22 GMT
recorded_with: VCR 3.0.3
