= simple_form_for :embedded_moment_attrs, url: story_embedded_moments_path, method: :post do |f|
  = f.input :url
  = f.input :service, as: :radio_buttons, collection: EmbeddedMoment::SERVICES
  = f.button :submit
