---
http_interactions:
- request:
    method: get
    uri: https://www.facebook.com/plugins/post/oembed.json?url=https://www.facebook.com/permalink.php?story_fbid=121366735010162%26id=100014105085617%26pnref=story
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="q4PO2G2cbkZhZ82+JgmRUyGMoAeozA+BSXVXQWB8XWQ="; report-uri="http://reports.fb.com/hpkp/"
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"author_name":"Ivan","author_url":"https://www.facebook.com/people/Ivan-Kuznetsov/100014105085617","provider_url":"https://www.facebook.com","provider_name":"Facebook","success":true,"height":null,"html":"\u003Cdiv
        id=\"fb-root\">\u003C/div>\n\u003Cscript>(function(d, s, id) {\n  var js,
        fjs = d.getElementsByTagName(s)[0];\n  if (d.getElementById(id)) return;\n  js
        = d.createElement(s); js.id = id;\n  js.src = \"//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3\";\n  fjs.parentNode.insertBefore(js,
        fjs);\n}(document, ''script'', ''facebook-jssdk''));\u003C/script>\u003Cdiv
        class=\"fb-post\" data-href=\"https://www.facebook.com/permalink.php?story_fbid=121366735010162&amp;id=100014105085617&amp;pnref=story\"
        data-width=\"552\">\u003Cblockquote cite=\"https://www.facebook.com/permalink.php?story_fbid=121366735010162&amp;id=100014105085617\"
        class=\"fb-xfbml-parse-ignore\">\u003Cp>Hi, Facebook!\u003C/p>\u041e\u043f\u0443\u0431\u043b\u0438\u043a\u043e\u0432\u0430\u043d\u043e
        \u003Ca href=\"https://www.facebook.com/people/Ivan-Kuznetsov/100014105085617\">Ivan
        Kuznetsov\u003C/a>&nbsp;\u003Ca href=\"https://www.facebook.com/permalink.php?story_fbid=121366735010162&amp;id=100014105085617\">12
        \u043d\u043e\u044f\u0431\u0440\u044f 2016 \u0433.\u003C/a>\u003C/blockquote>\u003C/div>","type":"rich","version":"1.0","url":"https://www.facebook.com/permalink.php?story_fbid=121366735010162&id=100014105085617&pnref=story","width":552}'
  recorded_at: Sat, 12 Nov 2016 15:24:36 GMT
recorded_with: VCR 3.0.3
