---
http_interactions:
- request:
    method: get
    uri: http://speakerdeck.com/oembed.json?url=https://speakerdeck.com/akmur/atom-resistance-is-futile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Status:
      - 301 Moved Permanently
      Content-Type:
      - text/html
      Location:
      - https://speakerdeck.com/oembed.json?url=https%3A%2F%2Fspeakerdeck.com%2Fakmur%2Fatom-resistance-is-futile
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 30 Nov 2016 18:30:31 GMT
- request:
    method: get
    uri: https://speakerdeck.com/oembed.json?url=https://speakerdeck.com/akmur/atom-resistance-is-futile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"402820082124b11fb49051bec44ca3d4"'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"rich","version":1.0,"provider_name":"Speaker Deck","provider_url":"https://speakerdeck.com/","title":"Atom:
        Resistance is Futile","author_name":"Alex Muraro","author_url":"https://speakerdeck.com/akmur","html":"\u003Ciframe
        allowfullscreen=\"true\" allowtransparency=\"true\" frameborder=\"0\" height=\"596\"
        id=\"talk_frame_334722\" mozallowfullscreen=\"true\" src=\"//speakerdeck.com/player/5c499bf3c2fe44ae87fa899e227be7a3\"
        style=\"border:0; padding:0; margin:0; background:transparent;\" webkitallowfullscreen=\"true\"
        width=\"710\"\u003E\u003C/iframe\u003E\n","width":710,"height":596}

'
  recorded_at: Wed, 30 Nov 2016 18:30:32 GMT
recorded_with: VCR 3.0.3
