---
http_interactions:
- request:
    method: get
    uri: http://soundcloud.com/oembed?format=json&url=https://soundcloud.com/21savage/x-feat-future
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f98b6b8d5bc1ea4a3830c8224a22b044"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":400,"width":"100%","title":"X
        (feat. Future) by 21 Savage","description":"21 Savage \u0026 Metro Boomin''s
        collaborative album, #SAVAGEMODE available on iTunes: http://smarturl.it/SavageModeiTunes\n\nhttp://21savage.com\nhttp://twitter.com/21savage\nhttp://instagram.com/21savage\nhttp://facebook.com/21savage\nhttp://youtube.com/c/21savage","thumbnail_url":"http://i1.sndcdn.com/artworks-000171597968-6ou25w-t500x500.jpg","html":"\u003Ciframe
        width=\"100%\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true\u0026url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F273828810\u0026show_artwork=true\"\u003E\u003C/iframe\u003E","author_name":"21
        Savage","author_url":"http://soundcloud.com/21savage"}'
  recorded_at: Tue, 29 Nov 2016 18:50:18 GMT
recorded_with: VCR 3.0.3
