header {
  height: 46px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

  .header-element {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .logo {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 46px;
    color: black;
    text-decoration: none;
  }

  .user-nav {
    img {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.global-wrapper {}
