header {
  height: 46px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

  .header-element {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: flex 0.5s ease-in;
  }

  .flash-element {
    display: none;

    .message {
      padding: 0 7px;
      line-height: 36px;
      white-space: nowrap;
    }
  }

  #sidebar-opener {
    position: absolute;
    left: 5px;
    font-size: 1.5em;
    line-height: 46px;
  }

  .logo {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    .main {
      font-size: 1.6em;
      font-weight: 600;
      line-height: 46px;
    }
    .slogan {
      position: absolute;
      top: 25px;
      right: 0;
      font-size: 9px;
    }
  }


  .user-nav {
    img {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  // phones
  @media screen and (max-width: 767px) {
    .wide-only {
      display: none !important;
    }
  }

  // computers, tablets
  @media screen and (min-width: 768px) {
    .mobile-only {
      display: none !important;
    }
  }
}
