---
http_interactions:
- request:
    method: get
    uri: http://www.slideshare.net/api/oembed/2?format=json&url=http://www.slideshare.net/inarocket/learn-bem-css-naming-convention/2-Learn_frontend_development_at_rocket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - Xb1wa1Esk5uX+x333jrIHg==
      X-Bench-Route:
      - oembed/get_oembed_code
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-tln1
      X-Li-Uuid:
      - AvJVGAARmRRAwpAPLisAAA==
    body:
      encoding: ASCII-8BIT
      string: '{"slide_image_baseurl_suffix":"-1024.jpg","title":"Learn BEM: CSS Naming
        Convention","thumbnail_height":128,"author_name":"In a Rocket","version_no":"1473332126","slideshow_id":65752735,"version":"1.0","provider_name":"SlideShare","height":355,"author_url":"http://www.slideshare.net/inarocket","type":"rich","width":425,"thumbnail":"//cdn.slidesharecdn.com/ss_thumbnails/learn-bem-css-naming-convention-160906200350-thumbnail.jpg?cb=1473332126","html":"\u003Ciframe
        src=\"https://www.slideshare.net/slideshow/embed_code/key/8IvB9fJqJ1ppUJ\"
        width=\"427\" height=\"356\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\"
        scrolling=\"no\" style=\"border:1px solid #CCC; border-width:1px; margin-bottom:5px;
        max-width: 100%;\" allowfullscreen\u003E \u003C/iframe\u003E \u003Cdiv style=\"margin-bottom:5px\"\u003E
        \u003Cstrong\u003E \u003Ca href=\"https://www.slideshare.net/inarocket/learn-bem-css-naming-convention\"
        title=\"Learn BEM: CSS Naming Convention\" target=\"_blank\"\u003ELearn BEM:
        CSS Naming Convention\u003C/a\u003E \u003C/strong\u003E from \u003Cstrong\u003E\u003Ca
        target=\"_blank\" href=\"http://www.slideshare.net/inarocket\"\u003EIn a Rocket\u003C/a\u003E\u003C/strong\u003E
        \u003C/div\u003E\n\n","thumbnail_width":170,"total_slides":27,"conversion_version":2,"slide_image_baseurl":"//image.slidesharecdn.com/learn-bem-css-naming-convention-160906200350/95/slide-","provider_url":"http://www.slideshare.net/","thumbnail_url":"https://cdn.slidesharecdn.com/ss_thumbnails/learn-bem-css-naming-convention-160906200350-thumbnail.jpg?cb=1473332126"}'
  recorded_at: Thu, 12 Jan 2017 15:50:45 GMT
recorded_with: VCR 3.0.3
