.registration-wrapper {
  h2.header {
    font-family: 'Open Sans', sans-serif;
  }

  .field.password {
    margin-bottom: 2px;
  }

  .no-confirmation {
    text-align: right;
    a {
      color: rgba(100, 53, 201, .4)
    }
  }
}
