.login-wrapper {
  .ui.error.message {
    display: block;
  }

  .field.password {
    margin-bottom: 2px;
  }

  .forgot-password {
    text-align: right;
    a {
      color: rgba(100, 53, 201, .4)
    }
  }

  .additional-link {
    text-align: center;
  }
}
